.settings
.vscode
.idea
*.iml

.project
.classpath
.factorypath

logs
target
baiduSpider.iml
src/main/resources/application.conf
src/main/resources/logback.xml

src/**/resources/jcseg.properties
src/**/resources/lexicon*

zhuhu.json
